In [27]:
import pandas as pd

In [28]:
dfAcre = pd.read_csv('Acre.csv', sep = ';')
dfAlagoas = pd.read_csv('Alagoas.csv', sep = ';')
dfAmazonas = pd.read_csv('Amazonas.csv', sep = ';')
dfBahia = pd.read_csv('Bahia.csv', sep = ';')
dfCeara = pd.read_csv('Amazonas.csv', sep = ';')
dfDF = pd.read_csv('DF.csv', sep = ';')
dfEspiritoSanto = pd.read_csv('EspiritoSanto.csv', sep = ';')
dfGoias = pd.read_csv('Goias.csv', sep = ';')
dfMaranhao = pd.read_csv('Maranhao.csv', sep = ';')
dfMatoGrosso = pd.read_csv('MatoGrosso.csv', sep = ';')
dfMatoGrossoDoSul = pd.read_csv('MatoGrossoDoSul.csv', sep = ';')
dfMinasGerais = pd.read_csv('MinasGerais.csv', sep = ';')
dfPara = pd.read_csv('Para.csv', sep = ';')
dfParana = pd.read_csv('Parana.csv', sep = ';')
dfPernambuco = pd.read_csv('Pernambuco.csv', sep = ';')
dfPiaui = pd.read_csv('Piaui.csv', sep = ';')
dfRioDeJaneiro = pd.read_csv('RioDeJaneiro.csv', sep = ';')
dfRioGrandeDoNorte = pd.read_csv('RioGrandeDoNorte.csv', sep = ';')
dfRioGrandeDoSul = pd.read_csv('RioGrandeDoSul.csv', sep = ';')
dfRondonia = pd.read_csv('Rondonia.csv', sep = ';')
dfRoraima = pd.read_csv('Roraima.csv', sep = ';')
dfSantaCatarina = pd.read_csv('SantaCatarina.csv', sep = ';')
dfSergipe = pd.read_csv('Sergipe.csv', sep = ';')
dfSPCapital = pd.read_csv('SPCapital.csv', sep = ';')
dfSPExcetoCapital = pd.read_csv('SPExcetoCapital.csv', sep = ';')
dfTocantins = pd.read_csv('Tocantins.csv', sep = ';')

In [29]:
dfTotal = pd.concat([dfAcre, dfAlagoas, dfAmazonas, dfBahia, dfCeara, dfDF, dfEspiritoSanto, dfGoias, dfMaranhao, dfMatoGrosso, dfMatoGrossoDoSul,
           dfMinasGerais, dfPara, dfParana, dfPernambuco, dfPiaui, dfRioDeJaneiro, dfRioGrandeDoNorte, dfRioGrandeDoSul, dfRondonia, dfRoraima,
           dfSantaCatarina, dfSergipe, dfSPCapital, dfSPExcetoCapital, dfTocantins
           ], ignore_index=True)

In [30]:
dfTotal.head()

,Unnamed: 0,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,0,1.200013e+14,3.39,1368.91,758.58,1249.62,282,281,1,53,...,470,487,601805,601805,0,169,25,43,2,2
1,1,1.200013e+14,3.52,737.47,407.43,716.42,344,338,0,60,...,598,613,385433,385033,400,271,19,22,0,2
2,2,1.200013e+14,3.53,606.40,411.93,689.39,483,476,1,70,...,839,866,532208,531794,414,333,28,17,2,2
3,3,1.200013e+14,3.43,758.51,426.47,684.34,53,53,0,3,...,90,92,58853,58853,0,38,8,2,0,0
4,4,1.200013e+14,3.18,689.61,446.56,748.21,96,96,0,0,...,167,138,112979,112979,0,78,4,8,0,0

In [31]:
dfTotal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296115 entries, 0 to 296114
Data columns (total 31 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Unnamed: 0                                           296115 non-null  int64
 1   Cod_setor                                            296115 non-null  float64
 2   MediaMoradorDomicilio                                295341 non-null  float64
 3   RendaMediaDomicilio                                  295341 non-null  float64
 4   RendaMediaPerCapitaGeral                             296111 non-null  float64
 5   RendaMediaPerCapitaComRendimento                     295678 non-null  float64
 6   nAbsDomicilios                                       296115 non-null  int64
 7   nAbsDomiciliosCasa                                   296115 non-null  object
 8   nAbsDomiciliosApto                                   296115 non-null  object
 9   nAbsImoveisAlugados                                  296115 non-null  object
 10  nAbs1PessoasDomicilio                                296115 non-null  object
 11  nAbs1PessoasDomicilio.1                              296115 non-null  object
 12  nAbs2PessoasDomicilio                                296115 non-null  object
 13  nAbs3PessoasDomicilio                                296115 non-null  object
 14  nAbs4PessoasDomicilio                                296115 non-null  object
 15  nAbs5ouMaisPessoasDomicilio                          296115 non-null  object
 16  nAbsHabitantes                                       296115 non-null  int64
 17  nAbsMoradoresCasa                                    296115 non-null  int64
 18  nAbsMoradoresApto                                    296115 non-null  int64
 19  nAbsMoradoresImoveisAlugados                         296115 non-null  int64
 20  nAbsConjuges                                         296115 non-null  int64
 21  nAbsHomensResidentes                                 296115 non-null  int64
 22  nAbsMulheresResidentes                               296115 non-null  int64
 23  TotalRendNomMensalDomParticulares                    296115 non-null  int64
 24  TotalRendimentoNomMensalDomParticularesPermanentes   296115 non-null  int64
 25  TotalRendimentoNomMensalDomParitulcaresImprovisados  296115 non-null  int64
 26  nAbsPessoasClasseE                                   296115 non-null  int64
 27  nAbsPessoasClasseD                                   296115 non-null  int64
 28  nAbsPessoasClasseC                                   296115 non-null  int64
 29  nAbsPessoasClasseB                                   296115 non-null  int64
 30  nAbsPessoasClasseA                                   296115 non-null  int64
dtypes: float64(5), int64(17), object(9)
memory usage: 70.0+ MB

In [32]:
dfTotal.astype({'Cod_setor':'int'})

,Unnamed: 0,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,0,120001305000001,3.39,1368.91,758.58,1249.62,282,281,1,53,...,470,487,601805,601805,0,169,25,43,2,2
1,1,120001305000002,3.52,737.47,407.43,716.42,344,338,0,60,...,598,613,385433,385033,400,271,19,22,0,2
2,2,120001305000003,3.53,606.40,411.93,689.39,483,476,1,70,...,839,866,532208,531794,414,333,28,17,2,2
3,3,120001305000004,3.43,758.51,426.47,684.34,53,53,0,3,...,90,92,58853,58853,0,38,8,2,0,0
4,4,120001305000005,3.18,689.61,446.56,748.21,96,96,0,0,...,167,138,112979,112979,0,78,4,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296110,2084,172210705000014,3.78,585.54,237.15,636.27,37,37,0,0,...,71,69,25577,25577,0,31,2,0,0,0
296111,2085,172210705000015,3.46,679.90,322.64,592.96,98,98,0,0,...,191,148,87758,87758,0,80,3,7,0,1
296112,2086,172210705000016,3.58,391.69,199.83,396.15,77,77,0,0,...,155,121,45161,45161,0,58,2,1,0,0
296113,2087,172210705000017,3.52,338.25,186.77,470.75,64,62,0,0,...,134,91,33345,31325,2020,38,1,3,0,0
296114,2088,172210705000018,3.66,515.49,336.85,553.04,71,71,0,0,...,146,114,74107,74107,0,58,5,1,0,0

In [33]:
dfTotal.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [34]:
dfTotal.head()

,Cod_setor,MediaMoradorDomicilio,RendaMediaDomicilio,RendaMediaPerCapitaGeral,RendaMediaPerCapitaComRendimento,nAbsDomicilios,nAbsDomiciliosCasa,nAbsDomiciliosApto,nAbsImoveisAlugados,nAbs1PessoasDomicilio,...,nAbsHomensResidentes,nAbsMulheresResidentes,TotalRendNomMensalDomParticulares,TotalRendimentoNomMensalDomParticularesPermanentes,TotalRendimentoNomMensalDomParitulcaresImprovisados,nAbsPessoasClasseE,nAbsPessoasClasseD,nAbsPessoasClasseC,nAbsPessoasClasseB,nAbsPessoasClasseA
0,1.200013e+14,3.39,1368.91,758.58,1249.62,282,281,1,53,30,...,470,487,601805,601805,0,169,25,43,2,2
1,1.200013e+14,3.52,737.47,407.43,716.42,344,338,0,60,30,...,598,613,385433,385033,400,271,19,22,0,2
2,1.200013e+14,3.53,606.40,411.93,689.39,483,476,1,70,39,...,839,866,532208,531794,414,333,28,17,2,2
3,1.200013e+14,3.43,758.51,426.47,684.34,53,53,0,3,6,...,90,92,58853,58853,0,38,8,2,0,0
4,1.200013e+14,3.18,689.61,446.56,748.21,96,96,0,0,18,...,167,138,112979,112979,0,78,4,8,0,0

In [35]:
dfTotal.to_csv('Total.csv', sep= ';', encoding = 'utf-8')